.window{
    display: none; 
      }
#modal-window{
width: 500px;
height: 100px;
padding: 5px;
background-color: cornsilk;
}  
#close{
    color: darkblue;
   
} 
#button{
    width: 100px;
    height: 50px;
    background-color: #cccccc;
}
